

$color1: #482ff7;
$color2: #2d6cdf;
$color3: #46c3db;
$color4: #f3f169;
$color5: #e2f3f5;

$color11: #f5f5f5;
$color12: #30e3ca;
$color13: #2f89fc;
$color14: #2f89fc;

$primaryColor: $color1;
$primaryHighlight: $color2;

$secondaryColor: $color3;
$secondaryHighlight: $color4;


$backgroundColor: #f5f5f5;
$activeBlue: #006AFF;