@use "colors";
@use "mixins";

$headerHeight: 70px;

$filtersHeight: 80px;

/* TODO clean rules (post map div changes) */

.layoutContainer {
  width: 100%;

  @include mixins.flex(c, nw, fs, fs);

  text-rendering: optimizeLegibility;
}
.headerContainer {
  width: 100%;

  @include mixins.flex(r, nw, c, c);
  height: $headerHeight;
  
  font-size: 54px;
  font-variant-caps: small-caps;
  color: colors.$primaryColor;
  
  background-color: #fff;
  border-bottom: 2px solid colors.$primaryColor;
  box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.32);

  user-select: none;
  z-index: 10;
}

.appContainer {
  width: 100%;
  
  @include mixins.flex(r, nw, space-between, fs);
}
.mapContainer {
  height: calc(100vh - $headerHeight - $filtersHeight);
  width: calc(100vw - 760px);
  
  padding: 10px;
  
  @include mixins.flex(c, nw, fs, c);
  
  background-color: white;
}
.filtersWrapper {
  height: $filtersHeight;
  width: 100%;
  
  @include mixins.flex(r, nw, fs, fe);
  gap: 30px;

  padding: 10px;

  border-bottom: 1px solid colors.$primaryHighlight;
  box-shadow: 0px 7px 15px -3px rgba($color: colors.$primaryHighlight, $alpha: 0.38);

  z-index: 99;
}
.mapWrapper {
  width: 100%;
  height: 100%;

  margin-top: 5px;
}
.listContainer {
  width: 750px;
  height: calc(100vh - $headerHeight - $filtersHeight);
  
  overflow-y: auto;
  
  @include mixins.flex(c, nw, fs, fs);
}
.listHeader {
  width: 100%;
  height: 50px;

  @include mixins.flex(r, nw, space-between, c);

  padding: 5px;
  padding-right: 4px;
}
.resultCount {
  font-weight: 600;
}
.sortControl {
  color: colors.$primaryColor;

  &:hover {
    color: colors.$primaryHighlight;
  }
}
.listWrapper {
  position: relative;

  height: 100%;
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  gap: 15px;

  margin-bottom: 0;
  
  list-style: none;
  padding: 8px 16px;

  & > li {
    position: relative;

    height: 281px;
    
    display: list-item;
    
    padding: 0;
  }
  & > li:last-child {
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 1380px) {
  .mapContainer {
    width: calc(100vw - 385px);
  }
  .listContainer {
    width: 375px;
  }
}
@media screen and (max-width: 1006px) {
  .mapContainer {
    display: none;
  }
  .listContainer {
    width: 100%;
  }
}
@media screen and (max-width: 740px) {
  .filtersWrapper {
    height: auto;

    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
  }
}
