@use "colors";
@use "mixins";

$headerHeight: 70px;

$filtersHeight: 80px;

/* TODO clean rules (post map div changes) */

.layoutContainer {
  @include mixins.flex(c, nw, fs, fs);
  width: 100%;
  text-rendering: optimizeLegibility;
}
.headerContainer {
  @include mixins.flex(r, nw, c, c);
  width: 100%;
  height: $headerHeight;
  font-size: 54px;
  font-variant-caps: small-caps;
  color: colors.$primaryColor;
  background-color: #fff;

  border-bottom: 2px solid colors.$primaryColor;
  box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.32);

  user-select: none;
  z-index: 10;
}

.appContainer {
  @include mixins.flex(r, nw, space-between, fs);
  width: 100%;
}
.mapContainer {
  @include mixins.flex(c, nw, fs, c);
  height: calc(100vh - $headerHeight - $filtersHeight);
  width: calc(100vw - 760px);
  padding: 10px;

  background-color: white;
}
.filtersWrapper {
  @include mixins.flex(r, nw, fs, fe);

  height: $filtersHeight;
  width: 100%;
  gap: 30px;

  padding: 10px;

  border-bottom: 1px solid colors.$primaryHighlight;
  box-shadow: 0px 7px 15px -3px rgba($color: colors.$primaryHighlight, $alpha: 0.38);

  z-index: 99;
}
.mapWrapper {
  margin-top: 5px;
  width: 100%;
  height: 100%;
}
.listContainer {
  width: 750px;
  height: calc(100vh - $headerHeight - $filtersHeight);
  @include mixins.flex(c, nw, fs, fs);
  overflow-y: auto;
}
.listHeader {
  width: 100%;
  height: 50px;

  @include mixins.flex(r, nw, space-between, c);

  padding: 5px;
  padding-right: 4px;
}
.resultCount {
  font-weight: 600;
}
.sortControl {
  color: colors.$primaryColor;

  &:hover {
    color: colors.$primaryHighlight;
  }
}
.listWrapper {
  position: relative;

  height: 100%;
  width: 100%;
  margin-bottom: 0;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));

  list-style: none;
  padding: 8px 16px;

  & > li {
    display: list-item;
    height: 281px;
    position: relative;
    padding: 0;
  }
  & > li:last-child {
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 1380px) {
  .mapContainer {
    width: calc(100vw - 385px);
  }
  .listContainer {
    width: 375px;
  }
}
@media screen and (max-width: 1006px) {
  .mapContainer {
    display: none;
  }
  .listContainer {
    width: 100%;
  }
}
@media screen and (max-width: 740px) {
  .filtersWrapper {
    height: auto;

    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
  }
}
